[worldserver]

###################################################################################################
#   SOLO 3v3 ARENA
#
#   Solo.3v3.Enable
#       Description: Enable system
#       Default: 1
#

Solo.3v3.Enable = 1


#
#   Solo.3v3.EnableCommand
#       Description: If enabled, it allows to run .qsolo rated/unrated
#       Default: 1
#       Value:   1 - (true)
#                0 - (false)
#
Solo.3v3.EnableCommand = 1

Solo.3v3.EnableTestingCommand = 1


#   Solo.3v3.FilterTalents
#       Description: When enabled, the matchmaker will attempt to create more balanced teams by considering players' talent specializations.
#                    It will try to avoid placing too many players of the same role (DPS, healer, tank) on the same team, which can lead
#                    to more balanced and competitive matches. When disabled, the matchmaker will not consider talent specializations and may create unbalanced teams
#       Default: 1 - (true)
#                0 - (false)
#
Solo.3v3.FilterTalents = 1

#
#    Solo.3v3.FilterTalents.AllDPSTimer
#        Description: When Solo.3v3.FilterTalents is enabled, this timer (in seconds) allows players
#                     to wait for a certain time in the queue before being allowed to fill a 3rd DPS
#                     slot on a team that has no healer yet (all-DPS team). This prevents players from
#                     immediately filling a 3rd DPS slot and starting unbalanced matches like 3 DPS vs 2 DPS + 1 healer,
#                     while still allowing all-DPS teams to form after waiting for the specified time.
#        Value:     60 - (60 seconds)
#
Solo.3v3.FilterTalents.AllDPSTimer = 60

#
#    Solo.3v3.AvoidSameTeamIgnore
#        Description: When enabled, the matchmaker avoids placing players who have each other
#                     on their ignore list on the same team. Falls back to placing them together
#                     if there are no other options in the queue.
#        Default:     0 - (false)
#                     1 - (true)

Solo.3v3.AvoidSameTeamIgnore = 0

#
#    Solo.3v3.PreventClassStacking
#        Description: Prevents two players of the same class from being placed on
#                     the same team. The value controls which role combinations
#                     are subject to the restriction.
#        Default:     0 - Disabled
#                     1 - Block duplicates across all roles (melee, ranged, healer)
#                     2 - Block only among melee players
#                     3 - Block only among ranged players
#                     4 - Block among any DPS (melee or ranged)
#                     5 - Block between melee and healer roles
#                     6 - Block between ranged and healer roles

Solo.3v3.PreventClassStacking = 0

#
#    Solo.3v3.PreventClassStacking.Classes
#        Description: Bitmask of classes affected by Solo.3v3.PreventClassStacking.
#                     Set to 0 to apply the restriction to all classes.
#                     Add the values of the classes you want to restrict:
#                       1    - Warrior
#                       2    - Paladin
#                       4    - Hunter
#                       8    - Rogue
#                       16   - Priest
#                       32   - Death Knight
#                       64   - Shaman
#                       128  - Mage
#                       256  - Warlock
#                       1024 - Druid
#        Default:       0 - All classes

Solo.3v3.PreventClassStacking.Classes = 0

Arena.CheckEquipAndTalents = 0
Arena.3v3.BlockForbiddenTalents = 0
Solo.3v3.CastDeserterOnAfk = 1
Solo.3v3.CastDeserterOnLeave = 1
Solo.3v3.StopGameIncomplete = 1
Solo.3v3.RatingPenalty.LeaveDuringMatch = 24
Solo.3v3.RatingPenalty.FirstLeaveDuringMatch = 50
Solo.3v3.RatingPenalty.LeaveBeforeMatchStart = 50

#
#    Solo.3v3.MinLevel
#        Description: Min level to create an arena team
#        Default:     80

Solo.3v3.MinLevel = 19

#
#    Solo.3v3.Cost
#        Description: Costs for create an arena team
#        Default:     100000 - (10 gold)

Solo.3v3.Cost = 100000

#
#    Solo.3v3.ArenaPointsMulti
#        Description: An 5v5 arena team with 1500 rating will gain 344 points per week (blizzlike).
#                      3v3 with same rating will gain 302 points (5v5points * 0.88)
#                      2v2 will gain 261 points (5v5points * 0.76)
#                      and 3v3soloQ will gain 167 points (5v5points * 0.64)
#                      With this multiplier you can modify the arenapoints for 3v3soloQ.
#        Default:     0.8

Solo.3v3.ArenaPointsMulti = 0.8


#
#    Solo.3v3.ArenaPointsMinLevel
#        Description: minlevel to get the arena points
#        Default:     70

Solo.3v3.ArenaPointsMinLevel = 70


#
#    Solo.3v3.VendorRating
#        Description: If true, 3v3soloQ rating will use to calculate highest personal-rating (extended costs).
#                      Note: The vendor-item will show as not buyable (red), but players can buy it, if enabled and rating is high enough.
#        Default:     0 - (false)
#                     1 - (true)

Solo.3v3.VendorRating = 0

Solo.3v3.ShowMessageOnLogin = 0

###################################################################################################
#   SOLO 3v3 RATED LADDER
#
#   Solo.3v3.Rated.KFactor
#       Description: Elo K-factor for Solo 3v3 rated ladder updates.
#       Default: 32
#
Solo.3v3.Rated.KFactor = 32
